.sign {
    background-image: url(./Img/Background-img.png);
    height: 84vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form_login {
    box-shadow: 0 0 10px #000 !important; 
}