
.parent_content {
    left: 50%;
    top: 50%;
    color: #000;
    transform: translate(-50%, -50%);
    width: 100%;
    white-space: nowrap;
    background-color:rgba(255, 255, 255, 0.5);
    font-weight: 600;
    font-size: 1.8rem !important;
    transition: all .5s ease;
}
.parent-img{
    transition: all .5s ease !important;
    cursor: pointer;
}

img {
    transition: all .5s ease !important;
}

.parent-img:hover img {
    transform: scale(1.1)
}